<ion-header>
    <ion-navbar>
        <ion-title>
            Favoris
        </ion-title>
        <ion-buttons end>
            <button ion-button (click)="addFavoris()">
                <ion-icon name="ios-add-outline" style="zoom:2.0;"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content [ngStyle]="{'background-image': 'url('+weatherService.getBackground(mainWeather)+')'}" style="background-repeat:no-repeat;background-size:cover;background-position: center;">
    <div class="head">
        Ma position
    </div>
    <div *ngIf="!weatherService.myGeo" style="text-align: center;color:#fafafa;padding: 0.5rem;width:90%;background: rgba(0,0,0,0.5);margin:1rem auto;">
        Impossible
        de vous retrouver. Veuillez activer votre gps et donner l'authorization à cette application de vous
        geolocalizer.
        <button ion-button (click)="update()">Mettre à jour...</button>
    </div>
    <div class="weather" *ngIf="weatherService.myGeo" (click)="setBg(weatherService.myGeo)">
        <div class="time">
            <div class="deg">{{weatherService.myGeo.list[0].main.temp | number:'1.1-1'}}°C</div>
            <small>{{weatherService.myGeo.list[0].dt_txt | date :'H:mm'}}</small>
        </div>
        <div class="icon">
            <img src="http://openweathermap.org/img/w/{{weatherService.myGeo.list[0].weather[0].icon}}.png" alt="">
        </div>
        <div class="info">{{weatherService.myGeo.city.name}}, {{weatherService.myGeo.city.country}}</div>
        <div class="about" (click)="navigation(weatherService.myGeo)">
            <ion-icon name="ios-information-circle-outline"></ion-icon>
        </div>
    </div>
    <div class="head">
        Favoris
    </div>
    <div class="weather favoris" *ngFor="let item of weatherService.myFavoris" (click)="setBg(item)">
        <div class="time">
            <div class="deg">{{item.list[0].main.temp | number:'1.1-1'}}°C</div>
            <small>{{item.list[0].dt_txt | date :'H:mm'}}</small>
        </div>
        <div class="icon">
            <img src="http://openweathermap.org/img/w/{{item.list[0].weather[0].icon}}.png" alt="">
        </div>
        <div class="info">{{item.city.name}}, {{item.city.country}}</div>
        <div class="about" (click)="navigation(item)">
            <ion-icon name="ios-information-circle-outline"></ion-icon>
        </div>
    </div>
</ion-content>
