.scroll-content {
    overflow-y: auto;
}

page-home {
    ion-header {
        &::after {
            display: none;
        }
        .toolbar-background-md {
            background-color: rgba(0, 0, 0, 0.35);
        }

        .toolbar-title-md {
            color: #fafafa;
        }

        button.bar-button-default-md {
            color: #fafafa;
        }
    }

    .head {
        padding: 1rem 2rem;
        background: rgba(0, 0, 0, 0.5);
        color: #fafafa;
        font-size: 1.5rem;
        border-radius: 0.5rem;
        margin: 0.5rem 3%;
        width: fit-content;
    }


    .bar-buttons.bar-buttons-ios {
        margin: 0 5px;
    }

    .fixed-content {
        background: rgba(0, 0, 0, 0.35);
    }

    .weather {
        width: 94%;
        display: flex;
        flex-direction: row;
        align-items: center;
        background: rgba(0, 0, 0, 0.5);
        color: #fafafa;
        margin: 0.5rem auto;
        height: 10rem;
        border-radius: 0.5rem;

        .time {
            text-align: center;
            display: flex;
            flex-direction: column;
            width: 20%;

            .deg {
                color: yellow;
            }
        }

        .icon {
            justify-content: center;
            align-items: center;
            display: flex;
            width: 20%;

            img {
                width: 5rem;
            }
        }

        .info {
            width: 50%;
            font-size: 2rem;
        }

        .about {
            width: 10%;
        }
    }
}
