page-favoris {
    ion-header {
        &::after {
            display: none;
        }

        ion-navbar {
            .toolbar-background-md {
                background-color: transparent;

                .toolbar-title-md {
                    color: #000;
                }
            }

            &.found {
                background-color: rgba(0, 0, 0, .35);

                .toolbar-title-md {
                    color: #fff;
                }

                button.bar-button-default-md {
                    color: #fff;
                }
            }
        }

    }

    .card-content.card-content-ios {
        text-align: center;
    }

    .bg {
        .fixed-content {
            background: rgba(0, 0, 0, 0.35);
        }

        .item.item-block.item-input {
            background: rgba(0, 0, 0, 0.5);
            color: #fafafa;
        }

        .card {
            background: rgba(0, 0, 0, 0.5);
            color: #fafafa;

            .card-header {
                color: #fafafa;
            }
        }

        h3 {
            color: #fafafa;
        }
    }

    .item.item-block.item-ios.item-input {
        padding: 0;
    }
}
