<ion-header>

    <ion-navbar [ngClass]="{'found': cityFound}">
        <ion-title>Favoris</ion-title>
    </ion-navbar>

</ion-header>


<ion-content padding [ngStyle]="{'background-image': 'url('+ws.getBackground(cityFound?.list[0].weather[0].main)+')'}"
    style="background-repeat:no-repeat;background-size:cover;background-position: center;" [ngClass]="{'bg': cityFound}">
    <ion-item>
        <ion-label floating color="primary">Nom de ville</ion-label>
        <ion-input type="text" [(ngModel)]="ville" (input)="getVille()"></ion-input>
    </ion-item>
    <div>

    </div>
    <ion-card *ngIf="cityFound">

        <ion-card-header>
            {{cityFound.city.name}} {{cityFound.city.country}}
        </ion-card-header>

        <ion-card-content>
            <button ion-button clear (click)="addToFavoris()" [disabled]="!cityFound">Rajouter aux favoris</button>
        </ion-card-content>

    </ion-card>
    <h3>
        Mes Favoris:
    </h3>
    <ion-card *ngFor="let item of ws.myFavoris">

        <ion-card-header>
            {{item.city.name}} {{item.city.country}}
        </ion-card-header>

        <ion-card-content>
            <button ion-button color="danger" clear (click)="ws.favorisListChange(item)">Supprimer de favoris</button>
        </ion-card-content>

    </ion-card>
</ion-content>
