<ion-header>

    <ion-navbar>
        <ion-title>Details</ion-title>
    </ion-navbar>

</ion-header>


<ion-content [ngStyle]="{'background-image': 'url('+weatherService.getBackground(weather?.list[0].weather[0].main)+')'}"
    style="background-repeat:no-repeat;background-size:cover;background-position: center;">
    <div *ngIf="weather" class="main">
        <div class="bg">
            <h4>
                {{weather.city.name}} {{weather.city.country}}
            </h4>
            <h4>
                {{weather.list[0].weather[0].description}}
            </h4>
            <h1>
                {{weather.list[0].main.temp | number:'1.1-1'}}°C
            </h1>
        </div>
    </div>
    <ul class="list">
        <li *ngFor="let day of joursDeLaSemaine">{{day.name}}<div>
                {{day.tempDayAvg | number:'1.1-1'}}
                <small>
                    {{day.tempNightAvg | number:'1.1-1'}}
                </small>
            </div>
        </li>
    </ul>
</ion-content>
