page-details {
    ion-header {
        &::after {
            display: none;
        }

        .toolbar-background-md {
            background-color: rgba(0, 0, 0, 0.5);
        }

        .toolbar-title-md {
            color: #fff;
        }
        .bar-button-default-md, .bar-button-clear-md-default, .bar-button-md-default{
            color: #fff;
        }
    }

    .fixed-content {
        background: rgba(0, 0, 0, 0.5);
    }

    .main {
        height: 50vh;
        width: 100%;
        background-size: cover;
        background-repeat: no-repeat;

        .bg {
            width: 100%;
            height: 100%;
            color: #fff;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            text-shadow: 0 0 2px black;

            h4,
            h1 {
                margin: 0;
                padding: 0;
            }
        }

    }

    ul.list {
        margin: 0;
        padding: 10% 15%;
        font-size: 2rem;

        li {
            list-style: none;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            color: #fafafa;
        }
    }
}
